:root {
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green: hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
    --color-neutral-dark-blue: hsl(249, 10%, 26%);
    --color-neutral-light-gray: hsl(0, 0%, 94%, 1);
    --border-color-light-gray: hsl(0, 0%, 87%, 1);
    --color-neutral-grayish-blue: hsl(246, 25%, 77%);
    --color-white: hsl(0, 0%, 100%);
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("./images/bg-intro-mobile.png");
    background-color: var(--color-primary-red);
    min-height: 100vh;
    padding: 2rem;
}

a:focus, a:focus-visible {
    outline: 1.6px solid var(--color-accent-blue);
    border-radius: 0.2rem;
}

p {
    font-size: 1.6rem;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.intro {
    margin: 7rem 0 6rem;
}

.intro__title {
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.intro__description {
    line-height: 2.5rem;
    color: var(--color-neutral-light-gray);
    font-weight: 500;
}

.signup__offer {
    color: var(--color-neutral-light-gray);
    background: var(--color-accent-blue);
    border-radius: 1rem;
    padding: 1.8rem 1.5rem;
    box-shadow: 0 7px 0 0 rgba(7, 1, 28, 0.151);
}

.signup__offer strong {
    font-weight: 600;
    color: var(--color-white);
}

.form {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    margin-top: 2.5rem;
    border-radius: 1rem;
    padding: 2.5rem;
    gap: 1.8rem;
}

.form__group-input {
    position: relative;
}

.form__input {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(42, 42, 42);
    padding: 1.6rem;
    border: 1.6px solid var(--border-color-light-gray);
    border-radius: 0.6rem;
    letter-spacing: 0.3px;
}

.form__input::placeholder {
    font-weight: 700;
}

.form__input:focus {
    outline: none;
    border: 1.6px solid var(--color-neutral-grayish-blue);
    caret-color: var(--color-accent-blue);
}

.form__error-icon {
    position: absolute;
    top: 1.7rem;
    right: 1.4rem;
    opacity: 0;
    transition: 160ms ease-in-out all;
    user-select: none;
}

.form__btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-white);
    background: var(--color-primary-green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.6rem 1.5rem;
    border: none;
    border-bottom: 0.4rem solid hsl(154, 55%, 45%);
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 160ms ease-in-out;
}

.form__btn:hover {
    background: hsl(154, 68%, 55%);
    border-color: hsl(154, 57%, 51%);
}

.form__btn:focus {
    outline: 1.6px solid var(--color-accent-blue);
}

.form__input-error {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    color: var(--color-primary-red);
    margin-top: 6px;
    display: none;
}

.form__terms-conditions {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-neutral-grayish-blue);
}

.form__terms-conditions a {
    font-weight: 700;
    color: var(--color-primary-red);
    text-decoration: none;
}

/* Form Validation Styles */
.form__group-correct .form__input {
    border: 2px solid var(--color-primary-green);
}

.form__group-incorrect .form__input {
    border: 2px solid var(--color-primary-red);
}

.form__group-incorrect .form__error-icon {
    opacity: 1;
}

.form__group-incorrect .form__input-error-active {
    display: block;
}
/* Media Queries */
@media screen and (min-width: 481px) {
    br {
        display: none;
    }
    
    .intro__title {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 769px) {
    body {
        display: grid;
        place-content: center;
    }
    
    .main-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        gap: 40px;
    }

    .intro {
        width: 45%;
    }

    .intro__title {
        font-size: 3.4rem;
        text-align: start;
        width: 100%;
    }

    .intro__description {
        text-align: start;
        width: 95%;
    }

    .signup {
        width: 55%;
    }

    .form {
        max-width: 550px;
    }

    .form__input {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 1025px) {
    .intro__title {
        font-size: 4.4rem;
    }
}